.book-wrapper {
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 15px 10px;
  border: 1px solid #000;
  border-radius: 5px;
}
  
.book-count{
  padding-left: 10%;
  font-weight: bold;
}

.book-title {
  font-style: italic;
  font-size: 18px;
}
  
.book-title.isRead {
  color: green;
  text-decoration: line-through;
}
  
.row {
  display: flex;
  align-items: center;
}
  
.pointer {
  height: 1.5em;
  width: 1.5em;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
  border: 1px solid transparent;
  outline: none;
  font: inherit;
  color: var(--color-fg);
  border-radius: 0.5em;
  cursor: pointer;
  transition: all 250ms ease;
}

.pointer:hover {
  background-color: #ffffff0d;
}